#fondoIndex{
    background-color: $bgColor;
    h1{
        color: #c17899;
        text-transform: uppercase;
    }
    .col-md-4{
        padding-right: 5px;
    }
}

#fondoConsejos{
    background-color: rgba(128, 128, 128, 0.137);
    .btn{
       @extend #botonBuscar;
       &:hover{
        transform: scale(1.2);
    }
}
}